<script lang="ts">
import Vue from 'vue';
import SoftwareFasterCarousel from './software-faster-carousel.vue';

export default Vue.extend({
  components: {
    SoftwareFasterCarousel,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
  data() {
    return {
      visibleCaseStudy: 0,
    };
  },
  methods: {
    goToNext() {
      if (this.visibleCaseStudy >= this.data.case_studies.length - 1) {
        this.visibleCaseStudy = 0;
      } else {
        this.visibleCaseStudy++;
      }
    },
    goToPrev() {
      if (this.visibleCaseStudy < this.data.case_studies.length - 2) {
        this.visibleCaseStudy = this.data.case_studies.length - 1;
      } else {
        this.visibleCaseStudy--;
      }
    },
  },
});
</script>

<template>
  <section class="section">
    <SlpContainer class="wrapper">
      <div class="case-studies">
        <SoftwareFasterCarousel
          v-for="(case_study, index) in data.case_studies"
          :key="index"
          :index="index"
          :visible="visibleCaseStudy"
          class="case-studies__card"
          transition="slide-left"
        >
          <SlpRow
            aria-roledescription="slide"
            :aria-label="`${index} of ${data.case_studies.length}`"
          >
            <SlpColumn :cols="6">
              <nuxt-img
                :src="case_study.showcase_img.url"
                :alt="case_study.showcase_img.alt"
                class="case-studies__card--showcase-img"
                loading="lazy"
              />
            </SlpColumn>
            <SlpColumn :cols="6">
              <SlpTypography
                tag="h2"
                variant="heading2-bold"
                class="slp-mb-32"
                >{{ case_study.header }}</SlpTypography
              >
              <nuxt-img
                :src="case_study.logo_img.url"
                :alt="case_study.logo_img.alt"
                class="case-studies__card--logo-img"
                loading="lazy"
              />

              <SlpTypography
                tag="div"
                variant="body1"
                v-html="$md.render(case_study.description)"
              ></SlpTypography>
              <SlpButton
                v-if="case_study.link.href"
                variant="tertiary"
                class="featured-content__link"
                :href="case_study.link.href"
                :data-ga-name="case_study.link.data_ga_name"
                :data-ga-location="case_study.link.data_ga_location"
              >
                <SlpTypography variant="body1-bold">{{
                  case_study.link.text
                }}</SlpTypography>
                <SlpIcon
                  class="learn-more__icon"
                  name="chevron-lg-right"
                  variant="product"
                  alt="Chevron Right Icon"
                />
              </SlpButton>
              <SlpButton
                v-else
                variant="tertiary"
                class="featured-content__link"
                :data-ga-name="case_study.link.data_ga_name"
                :data-ga-location="case_study.link.data_ga_location"
                @click.native="$emit('show-modal', case_study.link.video_url)"
              >
                <SlpTypography variant="body1-bold">{{
                  case_study.link.text
                }}</SlpTypography>
                <SlpIcon
                  class="learn-more__icon"
                  name="chevron-lg-right"
                  variant="product"
                  alt="Chevron Right Icon"
                />
              </SlpButton>
            </SlpColumn>
          </SlpRow>
        </SoftwareFasterCarousel>
        <SlpRow class="controls">
          <SlpButton
            variant="icon"
            aria-label="View previous case study"
            @click.native="goToPrev"
          >
            <SlpIcon
              name="chevron-lg-left"
              alt="Chevron Left Icon"
              variant="product"
              hex-color="#171321"
            />
          </SlpButton>
          <div class="controls__pages">
            <div
              v-for="option in data.case_studies.length"
              :key="option"
              :class="[
                option === visibleCaseStudy + 1
                  ? 'controls__pages-control--active'
                  : '',
                'controls__pages-control',
              ]"
            ></div>
          </div>
          <SlpButton
            variant="icon"
            aria-label="View next case study"
            @click.native="goToNext"
          >
            <SlpIcon
              name="chevron-lg-right"
              alt="Chevron Right Icon"
              variant="product"
              hex-color="#171321"
            />
          </SlpButton>
        </SlpRow>
      </div>
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.section {
  min-width: 100%;
  min-height: 100%;
  position: relative;
  background: #f6f3fe;
}
.wrapper {
  background: #f6f3fe;

  padding: $spacing-96 0 $spacing-96 0;
}
.featured-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  padding: $spacing-24 0;

  @media (min-width: $breakpoint-lg) {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 0 $spacing-96 0;
    margin: 0;
  }

  &__card {
    color: inherit;
    display: flex;
    border-radius: 4px;
    flex-direction: column;
    align-items: flex-start;
    padding: $spacing-32;
    margin: 0 auto;
    width: 100%;
    max-width: 350px;
    isolation: isolate;
    background: white;

    z-index: 1;
    position: relative;
  }
  &__text {
    flex-basis: 100%;
    .icon {
      width: 32px;
      height: 32px;
    }
  }
  &__link {
    color: $color-text-link-100;
    padding-left: 0;
    margin-top: 24px;
    &:hover {
      text-decoration-color: $color-text-link-100;
    }
  }
}
.case-studies {
  &__card {
    display: flex;
    position: relative;
    border-radius: 4px;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    isolation: isolate;
    background: white;

    @media (max-width: $breakpoint-md) {
      margin: 0 $spacing-16;
    }

    :deep(strong) {
      font-weight: $font-weight-bold;
    }

    &--showcase-img {
      max-width: 508px;

      @media (max-width: $breakpoint-md) {
        max-width: 100%;
      }
    }
    &--logo-img {
      max-height: 24px;
      margin-bottom: 32px;
    }
  }

  .controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: $spacing-24;

    color: #171321;

    :deep {
      svg,
      path {
        fill: 171321 !important;
        stroke: 171321 !important;
      }
    }

    &__pages {
      display: inherit;

      &-control {
        background: $color-surface-300;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        margin: 0 $spacing-8;

        &--active {
          background: $color-surface-700;
        }
      }
    }
  }
}
</style>
