<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'TabOverview',
  props: {
    data: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
  data() {
    return {
      headers: [],
      selectedTab: 0,
      baseHarveyUrl: '/nuxt-images/competition/',
    };
  },
});
</script>

<template>
  <div class="tab-overview">
    <div class="tab-overview__container">
      <SlpRow class="cards">
        <SlpColumn v-if="data.left_card" class="slp-mr-32">
          <SlpTypography variant="heading5-bold" tag="h3">{{
            data.left_card.title
          }}</SlpTypography>
          <SlpTypography variant="body2" tag="p">
            <div
              v-if="data.left_card.description"
              class="slp-mt-16 multi-line-paragraph"
              v-html="$md.render(data.left_card.description)"
            >
              {{ data.left_card.description }}
            </div>
          </SlpTypography>
        </SlpColumn>
        <SlpColumn v-if="data.right_card" class="right-card">
          <SlpTypography variant="heading5-bold" tag="h3">{{
            data.right_card.title
          }}</SlpTypography>
          <ul class="slp-mt-24">
            <li
              v-for="(bullet, index) in data.right_card.bullets"
              :key="index"
              class="slp-mt-24 list-item"
            >
              <SlpIcon
                class="slp-mr-16 slp-mt-2"
                size="sm"
                variant="product"
                name="check"
                slp-color="primary-200"
              />
              <SlpTypography
                class="right-card__content"
                variant="body2"
                tag="p"
              >
                <div v-html="$md.render(bullet.title)">{{ bullet.title }}</div>
              </SlpTypography>
            </li>
          </ul>
          <SlpButton
            class="zero-padding slp-mt-32"
            variant="tertiary"
            :href="data.right_card.button.link"
            :data-ga-name="data.right_card.button.data_ga_name"
            :data-ga-location="data.right_card.button.data_ga_location"
          >
            {{ data.right_card.button.text }}
            <SlpIcon
              name="chevron-lg-right"
              variant="product"
              alt="Chevron Right Icon"
            />
          </SlpButton>
        </SlpColumn>
      </SlpRow>
    </div>
  </div>
</template>

<style lang="scss" scoped>
a {
  color: $color-text-300;
}
.mobile-icon {
  display: none;
  margin-bottom: $spacing-32;
  color: $color-accent-500;
  .icon {
    margin-bottom: $spacing-8;
  }
  @media (max-width: $breakpoint-md) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.tab-overview {
  margin-bottom: $spacing-48;
  padding-bottom: 1px;
  &__container {
    border-radius: 0px 0px 8px 8px;
    background: $color-surface-50;
    .cards {
      padding: 48px 95px;
      @media (max-width: $breakpoint-lg) {
        padding: 24px 24px 0px;
      }
    }
  }
}

.competition {
  background: $color-surface-100;
}

.title {
  margin-top: 96px;
}

.zero-padding {
  padding-left: 0px;
}

.multi-line-paragraph {
  &:deep p {
    &:not(:first-child) {
      margin-top: $spacing-16;
    }
  }

  &:deep strong {
    font-weight: 600;
  }
}

.comparisons {
  display: flex;

  .comparison {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:nth-child(even) {
      margin-left: $spacing-64;
    }

    .comparison__img {
      width: 32px;
      height: 32px;
    }
  }
}

.right-card {
  height: max-content;
  padding: 0px 32px 32px;

  @media (max-width: $breakpoint-md) {
    background-color: $color-surface-50;
    padding: 32px 0px;
  }

  &__content {
    &:deep ul {
      list-style: disc;

      li {
        margin-left: $spacing-24;
      }
    }

    &:deep li {
      margin-top: $spacing-8;
    }
  }
}

.slp-mt-2 {
  margin-top: 2px;
}

.list-item {
  display: flex;
}
</style>
