<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'TabsIntro',
  props: {
    data: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
  data() {
    return {
      baseHarveyUrl: '/nuxt-images/competition/progress-bars/',
    };
  },
});
</script>

<template>
  <div class="tabs-intro">
    <SlpTypography
      v-if="data.title"
      class="slp-mt-96 title"
      variant="heading2-bold"
      tag="h2"
      >{{ data.title }}</SlpTypography
    >
    <div class="comparisons">
      <div
        v-for="comparison in data.comparisons"
        :key="comparison.title"
        class="comparison"
      >
        <SlpTypography variant="heading5-bold" tag="p">{{
          comparison.title
        }}</SlpTypography>
        <nuxt-img
          v-if="comparison.harvey !== undefined"
          class="slp-mt-8 comparison__img"
          loading="lazy"
          :src="`${baseHarveyUrl}${comparison.harvey}.svg`"
        />
      </div>
    </div>
    <SlpTypography
      class="tabs-intro__description slp-mb-32"
      variant="heading5"
      tag="h3"
      >{{ data.description }}</SlpTypography
    >
    <SlpButton
      class="tabs-intro__button"
      :href="data.button?.link || ''"
      :data-ga-name="data.button?.data_ga_name || 'Read More'"
      :data-ga-location="data.button?.data_ga_location || 'body'"
      variant="tertiary"
    >
      <span>{{ data.button?.text }}</span>

      <SlpIcon
        icon="gl-chevron-lg-right"
        alt="Chevron Right Icon"
        class="tabs-intro__button-icon"
      />
    </SlpButton>
  </div>
</template>

<style lang="scss" scoped>
.tabs-intro {
  border-bottom: 1px solid $color-surface-200;
  padding-bottom: 32px;
  @media (min-width: $breakpoint-md) {
    border-bottom: 0px solid transparent;
  }
  .comparisons {
    display: flex;
    margin-top: $spacing-24;
    @media (min-width: $breakpoint-md) {
      margin-top: $spacing-32;
    }

    .comparison {
      display: flex;
      flex-direction: column;
      align-items: center;
      &:nth-child(odd) {
        margin-right: $spacing-8;
      }
      &:nth-child(even) {
        margin-left: $spacing-32;
      }
      &__img {
        min-width: 150px;
      }
    }
  }

  &__button {
    padding: 11px 0px;
    text-align: left;
    display: block;
    &-icon {
      display: inline-flex;
      top: 2px;
      position: relative;
    }
  }
  &__description {
    margin-top: $spacing-24;
    @media (min-width: $breakpoint-md) {
      margin-top: 40px;
    }
  }
}
</style>
