<script lang="ts">
export default {
  props: {
    data: {
      required: true,
      type: Object,
    },
    isOpen: {
      required: true,
      type: Boolean,
    },
  },
  methods: {
    toggleAccordion() {
      this.$emit('toggleController');
    },
  },
};
</script>

<template>
  <div
    class="accordion"
    data-inbound-analytics="why-gitlab-leap-target"
    :data-toggle-group="data.header"
    :data-ga-toggle="isOpen ? 'collapse' : 'expand'"
  >
    <div
      class="summary"
      role="button"
      :aria-label="isOpen ? '' : 'expand section ' + data.header"
      :tabindex="isOpen ? -1 : 0"
      @click="toggleAccordion"
    >
      <SlpTypography tag="h4" variant="heading5">
        {{ data.header }}
      </SlpTypography>
      <SlpIcon v-if="isOpen" name="dash" variant="product" alt="Dash Icon" />
      <SlpIcon v-else name="plus" variant="product" alt="Plus Icon" />
    </div>
    <div v-show="isOpen" class="content-container">
      <div class="content" v-html="$md.render(data.text)"></div>
      <SlpButton
        v-if="data.link_url"
        :href="data.link_url"
        :data-ga-name="data.data_ga_name"
        :data-ga-location="data.data_ga_location"
        variant="tertiary"
        class="learn-more"
        >Learn more
      </SlpButton>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.accordion {
  color: $color-text-300;
  list-style-type: none;
  overflow: hidden;
  width: 100%;
  text-align: left;

  &:first-of-type {
    border-radius: 3px 3px 0 0;
    border-top-width: 1px;
  }

  .summary {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-8 0;
    border-top: 1px solid $color-surface-300;
  }

  h3 {
    display: flex;
    align-items: center;
    font-weight: $font-weight-bold;
  }

  span {
    border: none;
    cursor: pointer;
    padding: $spacing-8;
  }

  .content-container {
    text-align: left;
    padding: 0 0 $spacing-24 0;
    font-size: $text-body-1;
    line-height: $line-height-default;

    a {
      display: flex;
      align-items: center;
      font-weight: $font-weight-bold;

      svg {
        margin-left: 4px;
      }
    }
  }

  .content {
    margin-top: $spacing-16;
    margin-bottom: $spacing-24;
  }

  .content :deep {
    p,
    li,
    a {
      font-size: $font-size-default;
      line-height: $line-height-default;
      margin-bottom: $spacing-8;
    }

    ul {
      list-style: initial;
      padding-left: $spacing-24;
    }

    li {
      padding-left: $spacing-8;
    }
  }
}

.learn-more {
  color: $color-text-link-100;
  font-size: $text-body-2;

  &:hover {
    text-decoration-color: $color-text-link-100;
  }
}
</style>
