<script>
import {
  addUserSpend,
  checkIfUltimate,
  totalUserSpend,
  totalGitlabSpend,
} from '../../lib/roiCalculate';

import { SlpTooltip } from '~/components/common/index.vue';
import MktoForm from '@/components/calculator/mktoForm.vue';

export default {
  components: { SlpTooltip, MktoForm },
  props: {
    formData: {
      type: Object,
      required: true,
    },
    premiumFeatures: {
      type: Object,
      required: false,
      default: null,
    },
    ultimateFeatures: {
      type: Object,
      required: false,
      default: null,
    },
    spendTooltip: {
      type: String,
      required: false,
      default: null,
    },
    testId: {
      type: Number,
      required: false,
      default: null,
    },
  },
  data() {
    return {
      formSubmitted: false,
    };
  },
  computed: {
    showCTA() {
      return {
        premium: !this.$route.path.includes('pricing/premium'),
        ultimate: !this.$route.path.includes('pricing/ultimate'),
      };
    },
    isMobile() {
      return this.width <= 1024;
    },
    gitlabMaintainers() {
      return this.formData.numberOfMaintainers === 0 ? 0 : 1;
    },
    isUltimate() {
      return checkIfUltimate(
        this.formData.agilePortfolioManagementSpend,
        this.formData.applicationSecuritySpend,
      );
    },
    sumOfUserSpend() {
      return addUserSpend(
        this.formData.sourceCodeManagementSpend,
        this.formData.continuousIntegrationSpend,
        this.formData.continuousDeliverySpend,
        this.formData.registriesSpend,
        this.formData.agileProjectManagementSpend,
        this.formData.agilePortfolioManagementSpend,
        this.formData.applicationSecuritySpend,
      );
    },
    userAnnualSpend() {
      return totalUserSpend(
        this.sumOfUserSpend,
        this.formData.numberOfMaintainers,
      );
    },
    calculateGitLabSpend() {
      return totalGitlabSpend(
        this.isUltimate,
        this.formData.numberOfUsers,
        this.gitlabMaintainers,
      );
    },
    savings() {
      if (this.userAnnualSpend - this.calculateGitLabSpend < 0) {
        return 'error';
      }
      return this.userAnnualSpend - this.calculateGitLabSpend;
    },
  },
  methods: {
    toggleFormSubmitted() {
      this.formSubmitted = true;
    },
  },
};
</script>

<template>
  <div>
    <div v-show="savings == 'error'" class="error">
      <SlpTypography tag="h2" variant="heading4-bold">
        We need more information to complete this calculation. Please contact us
        for assistance.
      </SlpTypography>
      <SlpButton
        href="https://about.gitlab.com/sales/"
        data-ga-name="error talk to expert"
        data-ga-location="roi calculator results"
        variant="primary"
        >Talk to an expert</SlpButton
      >
    </div>
    <div v-show="isUltimate && savings !== 'error'">
      <MktoForm
        v-if="testId == 1 && isUltimate && !formSubmitted"
        :test-variant="testId"
        @fireSubmit="toggleFormSubmitted"
      />
      <div v-if="formSubmitted || testId !== 1">
        <div class="heading">
          <SlpTypography tag="h2" variant="heading3-bold"
            >You could save
            <span class="save"
              >${{
                savings.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
              }}</span
            >
            annually by switching to GitLab Ultimate!</SlpTypography
          >
          <SlpTypography tag="p" class="description"
            >GitLab Ultimate is the best choice for your company to achieve
            organization wide security, compliance, and planning.</SlpTypography
          >
        </div>
        <div class="cards">
          <div class="result-card">
            <div class="flex">
              <SlpTypography tag="h5" variant="heading5-bold"
                >Your current spend</SlpTypography
              ><SlpTooltip
                id="numberOfUsers"
                :text="spendTooltip"
                position="top"
                mode="click"
                class="tooltip"
              >
                <SlpIcon variant="product" name="information-o"
              /></SlpTooltip>
            </div>

            <SlpTypography tag="p" variant="heading3"
              >${{
                userAnnualSpend.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
              }}</SlpTypography
            >
          </div>
          <SlpTypography tag="p" class="versus" variant="heading5-bold"
            >Vs.</SlpTypography
          >
          <div>
            <div class="result-card ultimate">
              <SlpTypography tag="h5" variant="heading5-bold"
                >GitLab Ultimate</SlpTypography
              >
              <SlpTypography tag="p" variant="heading3"
                >${{
                  calculateGitLabSpend
                    .toString()
                    .replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                }}</SlpTypography
              >
              <SlpButton
                href="https://gitlab.com/-/subscriptions/new?plan_id=2c92a0ff76f0d5250176f2f8c86f305a&test=capabilities"
                variant="primary"
                data-ga-name="buy ultimate"
                data-ga-location="roi calculator results"
              >
                Buy Ultimate now
              </SlpButton>
            </div>
            <div>
              <SlpTypography tag="h5" class="header" variant="body3-bold">{{
                ultimateFeatures.header
              }}</SlpTypography>
              <ul class="list">
                <li
                  v-for="feature in ultimateFeatures.list"
                  :key="feature.text"
                  class="item"
                >
                  <SlpIcon
                    class="check"
                    variant="product"
                    name="check"
                    hex-color="#7759c2"
                  />

                  <span class="feature" v-html="feature.text"></span>
                  <SlpTooltip
                    v-if="feature.information"
                    :id="feature.text.toLowerCase().replace(/\s/g, '-')"
                    :list="feature.information"
                    :tooltip-position="isMobile ? 'bottom' : 'right'"
                    class="tooltip"
                    mode="click"
                    ><SlpIcon variant="product" name="information-o"
                  /></SlpTooltip>
                </li>
              </ul>

              <SlpButton
                v-if="ultimateFeatures.button && showCTA.ultimate"
                class="learn-more-button"
                variant="tertiary"
                :data-ga-location="ultimateFeatures.button.data_ga_location"
                :data-ga-name="ultimateFeatures.button.data_ga_name"
                :href="ultimateFeatures.button.url"
                >{{ ultimateFeatures.button.text
                }}<SlpIcon variant="product" name="chevron-lg-right"
              /></SlpButton>
            </div>
          </div>
        </div>
        <SlpTypography class="disclaimer" tag="p" variant="body3"
          >The results are purely an estimate and subject to change based on
          various factors that went into the calculation.</SlpTypography
        >
      </div>
    </div>

    <div v-show="!isUltimate && savings !== 'error'">
      <MktoForm
        v-if="testId == 1 && !isUltimate && !formSubmitted"
        :test-variant="testId"
        @fireSubmit="toggleFormSubmitted"
      />
      <div v-if="formSubmitted || testId !== 1">
        <div class="heading">
          <SlpTypography tag="h2" variant="heading3-bold"
            >You could save
            <span class="save"
              >${{
                savings.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
              }}</span
            >
            annually by switching to GitLab Premium!</SlpTypography
          >
          <SlpTypography tag="p" class="description"
            >GitLab Premium is the best choice for your company to enhance team
            productivity and collaboration.</SlpTypography
          >
        </div>
        <div class="cards">
          <div class="result-card">
            <div class="flex">
              <SlpTypography tag="h5" variant="heading5-bold"
                >Your current spend</SlpTypography
              ><SlpTooltip
                id="numberOfUsers"
                position="top"
                :text="spendTooltip"
                mode="click"
                class="tooltip"
              >
                <SlpIcon variant="product" name="information-o"
              /></SlpTooltip>
            </div>

            <SlpTypography tag="p" variant="heading3"
              >${{
                userAnnualSpend.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
              }}</SlpTypography
            >
          </div>
          <SlpTypography tag="p" class="versus" variant="body3-bold"
            >Vs.</SlpTypography
          >
          <div>
            <div class="result-card premium">
              <SlpTypography tag="h5" variant="heading5-bold"
                >GitLab Premium</SlpTypography
              >
              <SlpTypography tag="p" variant="heading3"
                >${{
                  calculateGitLabSpend
                    .toString()
                    .replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                }}</SlpTypography
              >
              <SlpButton
                href="https://gitlab.com/-/subscriptions/new?plan_id=2c92a00d76f0d5060176f2fb0a5029ff&test=capabilities"
                variant="primary"
                data-ga-name="buy premium"
                data-ga-location="roi calculator results"
              >
                Buy Premium now
              </SlpButton>
            </div>
            <div>
              <SlpTypography tag="h5" class="header" variant="body3-bold">{{
                premiumFeatures.header
              }}</SlpTypography>
              <ul class="list">
                <li
                  v-for="feature in premiumFeatures.list"
                  :key="feature.text"
                  class="item"
                >
                  <SlpIcon
                    class="check"
                    variant="product"
                    name="check"
                    hex-color="#7759c2"
                  />
                  <span class="feature" v-html="feature.text"></span>
                  <SlpTooltip
                    v-if="feature.information"
                    :id="feature.text.toLowerCase().replace(/\s/g, '-')"
                    :list="feature.information"
                    :tooltip-position="isMobile ? 'bottom' : 'right'"
                    class="tooltip"
                    mode="click"
                  >
                    <SlpIcon variant="product" name="information-o" />
                  </SlpTooltip>
                </li>
              </ul>

              <SlpButton
                v-if="premiumFeatures.button && showCTA.premium"
                class="learn-more-button"
                variant="tertiary"
                :data-ga-location="premiumFeatures.button.data_ga_location"
                :data-ga-name="premiumFeatures.button.data_ga_name"
                :href="premiumFeatures.button.url"
                >{{ premiumFeatures.button.text
                }}<SlpIcon variant="product" name="chevron-lg-right"
              /></SlpButton>
            </div>
          </div>
        </div>
        <SlpTypography class="disclaimer" tag="p" variant="body3"
          >The results are purely an estimate and subject to change based on
          various factors that went into the calculation.</SlpTypography
        >
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.save {
  color: $color-accent-500;
}

.heading {
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  margin-bottom: $spacing-24;
}

.description {
  margin-bottom: 40px;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: $breakpoint-md) {
    flex-wrap: wrap;
    justify-content: center;
  }

  .flex {
    display: flex;

    .tooltip {
      cursor: pointer;
      background: transparent;
      border: none;
      padding: 0;
      margin-left: $spacing-8;
      margin-bottom: $spacing-8;
    }
  }
}

.versus {
  padding-top: $spacing-64;

  @media (max-width: $breakpoint-md) {
    padding: 0;
    margin: $spacing-8 0 $spacing-24 0;
    width: 100%;
    text-align: center;
  }
}

.result-card {
  text-align: left;
  padding: $spacing-24;
  h5 {
    margin-bottom: $spacing-8;
  }

  p {
    margin-bottom: $spacing-24;
  }

  @media (max-width: $breakpoint-md) {
    text-align: center;
    padding: $spacing-24 0 0 0;
  }
}

.result-card.premium,
.result-card.ultimate {
  border-radius: 4px 4px 40px 4px;
  padding: $spacing-24 $spacing-32 $spacing-32 $spacing-24;
}

.result-card.premium {
  background: $color-surface-900;
}

.result-card.ultimate {
  background: url(/nuxt-images/backgrounds/ultimate_tier_gradient.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  padding: $spacing-24 $spacing-32 $spacing-32 $spacing-24;
}

.error h3 {
  margin-bottom: 40px;
}

.header {
  margin-top: $spacing-24;
  text-align: left;
}
.list {
  margin-bottom: 40px;

  .slp-tooltip {
    border: none;
    cursor: pointer;
    height: 1rem;
    margin-left: $spacing-8;
    height: auto; // Fixes svg within button Safari bug
  }

  .item {
    display: flex;
    align-items: center;
    margin: $spacing-8 0;
    text-align: left;

    .check {
      margin-right: $spacing-16;
    }
  }
}

.learn-more-button {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  .slp-icon {
    margin-left: $spacing-8;
  }
}

.disclaimer {
  margin-top: $spacing-32;
  padding: 0 $spacing-64;

  @media (max-width: $breakpoint-md) {
    padding: 0;
  }
}
</style>
