<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'StagesTable',
  props: {
    data: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
  data() {
    return {
      totalRows: 7,
    };
  },
  computed: {
    formattedData() {
      const formattedStages = this.data.tabs.map((stage: any) => {
        const newCompetitors = stage.competitors.map((competitor: any) => {
          return (this as any).data.competitors.find((item: any) => {
            return item.name.includes(`${competitor}`);
          });
        });
        const newItem = {
          ...stage,
          competitors: newCompetitors,
        };
        return newItem;
      });
      return formattedStages;
    },
  },
});
</script>

<template>
  <div class="stages-table">
    <SlpRow class="stages-table__heading">
      <SlpColumn :cols="10" size="md">
        <SlpTypography tag="h1" variant="heading2-bold" class="slp-pb-32">{{
          data.headline
        }}</SlpTypography>
        <SlpTypography tag="h5" variant="heading5">{{
          data.description
        }}</SlpTypography>
      </SlpColumn>
    </SlpRow>
    <div class="stages-table__table-wrapper">
      <table class="stages-table__table">
        <thead class="stages-table__table__stages">
          <tr>
            <th v-for="(stage, stageIndex) in formattedData" :key="stageIndex">
              <div class="stages-table__table__cell stages-table__stage">
                <SlpIcon
                  class="icon"
                  :name="stage.icon.name"
                  variant="marketing"
                  size="md"
                />
                <SlpTypography
                  variant="body2"
                  class="slp-pt-16 stages-table__stage-name"
                  >{{ stage.text }}</SlpTypography
                >
              </div>
            </th>
          </tr>
        </thead>
        <tbody class="stages-table__table__body">
          <tr
            v-for="(n, index) in totalRows"
            :key="index"
            class="stages-table__competitor"
          >
            <td
              v-for="(stage, stageIndex) in formattedData"
              :key="stageIndex"
              class="stages-table__logo"
            >
              <div v-if="stage.competitors" class="stages-table__img">
                <a
                  v-if="stage.competitors[index]"
                  :class="{
                    'stages-table__img-link': stage.competitors[index].href,
                  }"
                  :href="stage.competitors[index].href"
                >
                  <nuxt-img
                    :class="`stages-table__img--${stage.competitors[index].size}`"
                    :src="stage.competitors[index].logo"
                    :alt="
                      stage.competitors[index].logo_alt
                        ? stage.competitors[index].logo_alt
                        : ''
                    "
                    loading="lazy"
                  />
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <SlpRow class="stages-table__disclaimer">
      <SlpColumn :cols="8" size="md">
        <SlpTypography tag="p" variant="body3">{{
          data.disclaimer.intro
        }}</SlpTypography>
        <SlpTypography
          tag="p"
          variant="body3"
          class="slp-pt-24 stages-table__italic"
          >{{ data.disclaimer.legend }}</SlpTypography
        >
      </SlpColumn>
    </SlpRow>
  </div>
</template>

<style lang="scss" scoped>
.stages-table {
  table {
    width: 100%;
    table-layout: fixed;
    min-width: $breakpoint-lg;
  }
  table,
  th,
  td {
    border-spacing: 0px;
    -webkit-border-horizontal-spacing: 0px;
    padding: 0;
  }
  td,
  th {
    border-left: 1px solid $color-primary-100;
    &:first-of-type {
      border-left: 0;
    }
  }
  th {
    border-bottom: 1px solid $color-primary-100;
  }
  tbody tr {
    &:first-of-type {
      .stages-table__img {
        padding-top: $spacing-48;
      }
    }
  }
  &__table-wrapper {
    overflow: scroll;
    box-shadow: 0px 8px 50px -16px $color-primary-100;
    padding: $spacing-48 $spacing-24 $spacing-24 $spacing-24;
    border-radius: 8px;
  }

  &__stage {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 0 $spacing-32;
  }
  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $spacing-24 $spacing-8;
    height: 100%;
    position: relative;

    &-link {
      transition: transform 0.3s ease;
      transform: scale(1);
      &:hover,
      &:active,
      &:focus {
        transform: scale(1.15);
      }
    }
    img {
      max-width: 80px;
      width: 100%;
    }
    &--sm {
      max-height: 25px;
    }
    &--md {
      max-height: 40px;
    }
    &--lg {
      max-height: 45px;
    }
    &--xl {
      max-height: 45px;
      max-width: 95px !important;
    }
  }

  &__logo {
    width: 50%;
    @media (min-width: $breakpoint-md) {
      width: auto;
    }
  }

  &__heading {
    padding: $spacing-32 0 $spacing-48 0;
    position: relative;
    z-index: 1000;
    @media (min-width: $breakpoint-md) {
      padding: $spacing-64 0;
    }
  }

  &__disclaimer {
    padding: $spacing-32 0 0 0;
    @media (min-width: $breakpoint-md) {
      padding: $spacing-96 0 0 0;
    }
  }

  &__italic {
    font-style: italic;
  }

  &__stage-name {
    text-transform: capitalize;
  }
}
</style>
